### Ignore all large files

/parkinsonlabtutorial/data/raw
/parkinsonlabtutorial/data/trimmed
/parkinsonlabtutorial/data/adapters
/parkinsonlabtutorial/data/qual
/parkinsonlabtutorial/precomputed






