### Ignore all large files


data/RAW/
data/
data/filter/
bin/cluster/
/parkinsonlabtutorial/data/raw
/parkinsonlabtutorial/data/trimmed
/parkinsonlabtutorial/metadata/adapters
/parkinsonlabtutorial/data/qual
/parkinsonlabtutorial/precomputed
/parkinsonlabtutorial/metadata/index
/parkinsonlabtutorial/metadata/Mmusculus_genome
/parkinsonlabtutorial/metadata/infernalrna
/parkinsonlabtutorial/metadata/archive
/parkinsonlabtutorial/data/reports




