### Ignore all large files

/parkinsonlabtutorial/data/raw
/parkinsonlabtutorial/data/trimmed
/parkinsonlabtutorial/metadata/adapters
/parkinsonlabtutorial/data/qual
/parkinsonlabtutorial/precomputed
/parkinsonlabtutorial/metadata/index







